.container {
  text-align: center;
}

.before {
  background-color: rgb(33, 183, 33);
  color: white;
  border: 1px dotted white;
  align-items: center;
  height: 100px;
}

.publication {
  height: 100px;
  background-color: rgb(255, 255, 183);
  border: 3px solid yellow;
  align-items: center;

  .title {
    border-bottom: 2px red solid;
    color: red;
  }
}

.after {
  height: 100px;
  color: white;
  align-items: center;
  border: 1px dotted white;
  background-color: lightgray;
}
