.login {
  background-color: rgb(33, 183, 33);
  height: 100vh;
  padding: 10%;
  text-align: center;
}

.title {
  padding-top: 25%;
  padding-bottom: 15%;
  font-weight: bold;
}

.signup {
  margin-top: 20px;
  color: black;
  background-color: yellow;
  border: none;

  &:hover {
    color: white;
    background-color: green;
  }
}
