.card {
  color: white;
  background-color: rgb(33, 183, 33);
  border: 3px white dotted;
  font-weight: bold;

  &:hover {
    border: 3px yellow solid;
  }

  img {
    padding: 5px;
    margin: auto;
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.list {
  color: white;
  background-color: rgb(33, 183, 33);
}

.badge {
  margin-right: 10px;
}
