.bar {
  border-bottom: 1px solid white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: rgb(33, 183, 33);
}

.title {
  color: white;
  font-weight: bold;
  display: flex;
}

// .titleDesign {
//   position: relative;
// }

.tentoumushi1 {
  vertical-align: bottom;
}

.toggle {
  stroke: white;
}

.navlink {
  text-align: right;
  color: white;
  width: auto;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
  &:hover {
    stroke: yellow;
  }
}

.button {
  background-color: yellow;
  color: black;
  border-color: yellow;
}
