.tab {
  color: yellow !important;
  border: 3px white dotted !important;
  &:focus,
  &:hover {
    color: black !important;
  }
}

.selected {
  color: black;
  border: 3px white dotted !important;
}
