.title {
  margin-bottom: 10px;
}

.table {
  border-top: white 1px solid;
  border-bottom: white 1px solid;

  td:nth-of-type(2n-1) {
    background-color: white;
  }
}

.key {
  width: 40%;
  background-color: white;
}

.value {
  color: white;
}
