.signUp {
  background-color: rgb(33, 183, 33);
  height: 100vh;
  padding: 10%;
  text-align: center;
}

.title {
  padding-top: 25%;
  padding-bottom: 15%;
  font-weight: bold;
}

.concent {
  text-align: left;
  height: 150px;
  overflow: scroll;
  margin-bottom: 20px;
  border: 3px dotted white;
}

.link {
  display: inline-block;
  color: white;
  font-weight: bold;
  border-bottom: 2px solid white;

  &:hover {
    color: yellow;
    border-bottom: 2px solid yellow;
  }
}
