.form {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.list {
  text-align: left;
}

.check {
  margin: 10px;
}

.button {
  Button {
    background-color: yellow;
    color: black;
    border: none;

    &:hover {
      background-color: green;
      color: white;
      border: 1px solid black;
    }
  }
}
